* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --hue: 223;
    --bg: rgba(0, 0, 0, 0.8);
    --fg: hsl(var(--hue), 10%, 10%);
}

.pl_container {
    position: fixed;
    width: 100%;
    background-color: #000755;
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
    color: var(--fg);
    font: 1em/1.5 sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    transition: 0.6s;
    z-index: 10000;
}

.pl_container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}