* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: #000755
}

:root {
    --bgColor--: #5161CE;
    --cor-principal: #3d4195;
}

.custom-modal .modal-dialog {
    width: 80%;
    max-width: 80%;
}

.button-container-grid {
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
}

.button-container-item {
    flex-grow: 1;
    flex-basis: 50;
}

button {
    opacity: 0.8 !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.previsualizar-container {
    background: #fff;
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    padding: 2rem;
}

.previsualizar-close-button {
    text-align: end;
    transition: 0.5s;
    cursor: pointer;
}

.previsualizar-close-button:hover {
    opacity: 0.7;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.styled-table thead tr {
    background-color: #4CAF50;
    color: white;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    text-align: center;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-info,
.btn-success,
.btn-warning,
.btn-primary {
    background-color: var(--cor-principal) !important;
    color: #fff !important;
    font-weight: 600 !important;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.btn-info:hover,
.btn-success:hover,
.btn-warning:hover,
.btn-primary:hover {
    opacity: 0.5;
}